.Header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 77, 77);
    width:100%;
    padding-block: 2%;
}

.login{

    display: flex;
    
    justify-content: space-between;
}
.logo{
    color: aliceblue;
}
.Nav-link{
    text-decoration: none;
    color: aliceblue;
}
.Nav-link:hover{
    color:cadetblue;
}
